<div class="create-note">
    <form ng-submit="createNote(header, note_text)">
        <div class="form-group">
            <label for="header">Email address</label>
            <input ng-model="header" id="header" class="form-control" placeholder="Note header">
        </div>
        <div class="form-group">
            <label for="noteText">Note text</label>
            <textarea id="noteText" ng-model="note_text" class="form-control" rows="3"></textarea>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create note</button>
    </form>
</div>
