<div id="login">
    <form class="form-signin" ng-submit="login(email, passwd)">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" ng-model="email" id="inputEmail" class="form-control" placeholder="Email address"
               required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model="passwd" id="inputPassword" class="form-control" placeholder="Password"
               required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button type="button" class="btn btn-default" ng-click="createDefaultUser()">
            Create default user
        </button>
    </form>
</div>
