<div ng-class="row">
    <div ng-class="action-buttons">
        <a type="button" class="btn btn-primary" href="#/note/create">
            Create Note
        </a>
        <a type="button" class="btn btn-default" href="#" ng-click="refreshNotes()">
            Refresh list
        </a>
        <a type="button" class="btn btn-danger" href="#/logout">
            Logout
        </a>
    </div>
</div>

<div class="row">

    <div class="notes-list">
        <div ng-show="!notes">
            <p>There are no notes. Go ahead and create one!</p>
        </div>

        <div ng-show="notes">
            <ul>
                <li ng-repeat="note in notes">
                    <a class="note-header" href="#/note/{{ note.header }}">{{ note.header }}</a>
                    <p class="note-text">
                        {{ note.note_text | limitTo:140 }}
                    </p>
                </li>
            </ul>
        </div>

    </div>
</div>
