<div class="note-details">
    <h2>{{ note.header }}</h2>
    <p>{{ note.note_text }}</p>
</div>

<div class="meta-info">
    <a href="#/main" class="btn btn-default">Back to main view</a>
    <a href="#/note/{{ note.header }}/update" class="btn btn-primary">Update this note</a>
    <a href="#/note/{{ note.header }}/delete" class="btn btn-danger">Delete this note</a>
</div>
