<div class="update-note">
    <form ng-submit="updateNote(note.header, note.note_text)">
        <div class="form-group">
            <label for="header">Email address</label>
            <input ng-model="note.header" id="header" class="form-control" placeholder="Note header" ng-value="note.header">
        </div>
        <div class="form-group">
            <label for="noteText">Note text</label>
            <textarea id="noteText" ng-model="note.note_text" class="form-control" rows="3"></textarea>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Update note</button>
        <a class="btn btn-lg btn-danger btn-block" href="#/note/{{ note.header }}/delete">Delete note</a>
    </form>
</div>
